body{
    font-family: 'Montserrat', sans-serif;
}

ul>li{
    list-style:  none;
}
#landing{
    background: url('../img/landing_bkg.jpg') center no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    height: 400px;
}

.active{
    border-bottom: 2px solid black;
}

#screenprinting{
    background: url('../img/print_bkg.jpg') center no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    height: 350px;
    color:white;
    transition: 0.45s all ease-in-out;
    
}

#dx-screenprinting{

    transition: 0.45s all ease-in-out;
}

#design{
    background: url('../img/design_bkg.jpg') center no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    height: 350px;
    color:white;
    transition: 0.45s all ease-in-out;
}

#impression{
    background: url('../img/impression_bkg.jpg') center no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    height: 350px;
    color:white;
    transition: 0.45s all ease-in-out;
}

#packaging{
    background: url('../img/package_bkg.jpg') center no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    height: 350px;
    color:white;
    transition: 0.45s all ease-in-out;
}

#counseling{
    background: url('../img/meeting_bkg.jpg') center no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    height: 350px;
    color:white;
    transition: 0.45s all ease-in-out;
}

#signs{
    background: url('../img/signs_bkg.jpg') center no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    height: 350px;
    color:white;
    transition: 0.45s all ease-in-out;
}

.serviceinfo{
    text-shadow: 2px 2px 4px black;
}

.click-fx{
    text-shadow: 2px 2px 4px black;
}